.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
  }

  &::before {
    animation: before8 2s infinite;
  }

  &::after {
    animation: after6 2s infinite;
  }
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(0, 75, 156, 0.75), -1em 0.5em rgba(33, 150, 243, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(0, 75, 156, 0.75), 0 0.5em rgba(33, 150, 243, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(0, 75, 156, 0.75), 1em 0.5em rgba(33, 150, 243, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(0, 75, 156, 0.75), -1em 0.5em rgba(33, 150, 243, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(250, 176, 1, 0.75), -0.5em -1em rgba(255, 152, 0, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(250, 176, 1, 0.75), -0.5em 0 rgba(255, 152, 0, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(250, 176, 1, 0.75), -0.5em 1em rgba(255, 152, 0, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(250, 176, 1, 0.75), -0.5em -1em rgba(255, 152, 0, 0.75);
  }
}
