:root {
  --primary-blue: #004b9c;
  --primary-orange: #fab001;
  --secondary-blue: #2196F3;
  --secondary-orange: #FF9800;
  --support-light-gray: #E0E0E0;
  --support-medium-gray: #9E9E9E;
  --support-dark-gray: #424242;
  --background-primary: #FFFFFF;
  --background-secondary: #F5F5F5;
  --text-primary: #212121;
  --text-secondary: #757575;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--support-light-gray);
}

.container {
  position: relative;
  width: 420px !important; ;
  height: 450px;
  border: 2px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 10px;
  color: var(--support-dark-gray);
  overflow: hidden;
  transition: height .2s ease;
  font-family: "Poppins", sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  background-color: var(--background-primary);
}

.container .form-box {
  width: 100%;
  padding: 30px;
}

.container .form-box.login {
  transition: translate .18s ease;
  translate: 0;
}

form h1 {
  font-size: 36px;
  text-align: center;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 60px 0px;
}

.input-box input {
  width: 100% !important;
  height: 60px ;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(99, 99, 99, 0.1);
  border-radius: 40px;
  font-size: 15px;
  color: var(--text-primary);
  padding: 20px 4px 20px 20px;
}

.input-box input::placeholder {
  color: var(--text-secondary);
}

.input-box .icon {
  position: absolute;
  right: 10%;
  top: 70%;
  font-size: 16px;
}

form button {
  width: 100%;
  height: 45px;
  background: var(--primary-blue);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: var(--background-secondary);
  font-weight: 700;
}